// .input-search-icon-container {
//   position: absolute;
//   left: 1rem;
// }
.location-search-input {
  border-radius: 2rem !important;
}
.suggestion-item {
  cursor: pointer;
}
.suggestion-item--active {
  cursor: pointer;
}