.app-container  {
    height: calc(100vh - 68px);
    overflow-y: auto;
}
.weather-data-container {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.unitText {
    cursor: pointer;
}
.unitText.active {
    font-weight: 800;
}
.weather-details-text {
    font-weight: 400;
    letter-spacing: 1.5px;
}
.todays-weather-forecast-container {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
}
.today-weather-container {
    text-align: center;
    width: 139px !important;
}
.current-weather-svg {
    width: 8rem;
}
.current-weather-text {
    font-size: 4rem;
    font-weight: bold;
}
.temp-degree {
    font-size: 2rem;
    margin-top: -0.5rem;
}